# dependencies
node_modules/

# build files
dist/
dist-ssr/

# environment files

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# vite cache
.vite/

# cache
.cache/
